.hero {
  padding-top: 200px;
  text-align: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #6c1740;
  color: white;
  font-family: "Pacifico", cursive;
}

button:hover {
  background: #37031c;
}

.deleteBtn {
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
