.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #edc0d6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #6c1740;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  color: #37031c;
  margin-bottom: 40px;
  line-height: 1;
  text-align: center;
  font-family: "Pacifico", cursive;
}
